.site {
    background-color :#EEEEEE;
    width: 100vw;;
    height: 1026px;
}
.topo {
    background-color: #CF2B2B;
    width: 100vw;
    height: 92px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0; 
}

.titulo {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    line-height: 1.1;
}
.titulo h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 44px;
    color: white;
}
.titulo h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.primeiro {
    margin-top: 121px;
    margin-left: 19px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #333333;
}

.carrossel_1 {
    display: flex;
    overflow-x: scroll;
    margin-top: 17px;
    padding-left: 4px;
    padding-right: 19px;
    
}
.frango {
    width: 162px;
    height: 206px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.churrasco {
    width: 162px;
    height: 206px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.calabresa {
    width: 162px;
    height: 206px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.imagem_prato img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-left: 14px;
    margin-top: 18px;
}
.nome-prato-frango {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.nome-prato-churrasco {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}


.nome-prato-calabresa {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.descricao {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-left: 15px;
    width: 147px;
    color: #A6A6A6;
    margin-top: 8px ;
    line-height: 1.05;
}

.preco-prato-frango {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.preco-prato-churrasco {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.preco-prato-calabresa {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.segundo {
    margin-top: 27px;
    margin-left: 21px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #333333;
}
.carrossel_2 {
    display: flex;
    overflow-x: scroll;
    margin-top: 17px;
    padding-left: 4px;
    padding-right: 19px;
}

.bebidas {
    width: 162px;
    height: 192px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.coca {
    width: 162px;
    height: 192px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.fanta {
    width: 162px;
    height: 192px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.suco {
    width: 162px;
    height: 192px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.imagem_bebidas img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-left: 14px;
    margin-top: 18px;
}

.nome-bebidas-coca {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.nome-bebidas-fanta {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.nome-bebidas-suco {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.preco-bebida-coca {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.preco-bebida-fanta {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.preco-bebida-suco {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.terceiro {
    margin-top: 27px;
    margin-left: 21px; 
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #333333;
}
.carrossel_3 {
    display: flex;
    overflow-x: scroll;
    margin-top: 17px;
    padding-left: 4px;
    padding-right: 19px;
}

.pudim {
    width: 162px;
    height: 187px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.brownie{
    width: 162px;
    height: 187px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.mouse{
    width: 162px;
    height: 187px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.imagem_sobremesas img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-left: 14px;
    margin-top: 18px;
}
.nome-sobremesa-pudim {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.nome-sobremesa-brownie {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.nome-sobremesa-mouse {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 8px;
    color: #333333;
    padding-bottom: 5px;
}

.preco-sobremesa-pudim {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.preco-sobremesa-brownie {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.preco-sobremesa-mouse {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;

}

.menu_inferior {
    width: 100vw;
    height: 92px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao_fechar{
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_fechar h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    width: 200px;
}

.escondido { 
    display: none;
}

.checkout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items:center;

}

.pedido {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.pedido h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: white;
    margin-top: 21px;
    margin-bottom: 25px;
    padding-top: 2px;
    padding-bottom: 1px;
}

.pedido p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: white;
    margin-bottom: 16px;
}

.sobremesa_1 {
    padding-bottom: 2px;
    height: 28px;
}

.pedido h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.fundo_total {
    width: 329px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    
}

.fundo_total a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #50D074;
    text-decoration: none;
}

.cancelar {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 333px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 4px;
    cursor: pointer;
}

.selecionado {
    border-color: #32B72F;
}

.cor_botao {
    background-color: #32B72F;
}